---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/NavBar.astro';
import Footer from '../components/Footer.astro';
import AnimeList from '../components/AnimeList.astro';
---

<Layout title="Inicio">
	<main>
		<Nav/>
		
		<AnimeList/>
		
		<Footer></Footer>
	</main>
</Layout>


