---
import Socials from "./Socials.astro";
---

<footer class="bg-gray-800 px-2 text-white font-sans text-lg">
 <p>
    Contacto:
 </p>

 <Socials url="https://twitter.com/astrodotbuild" title="Twitter" />
 <Socials url="https://github.com/withastro/astro" title="GitHub" />

</footer>